<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portofolioo_img(@portofolioos_items.main_image, 'main'), width: '100%' %>
    </div>

    <div class="col-md-5">
      <h1><%=@portofolioos_items.title %></h1>

      <hr>

      <em><%= @portofolioos_items.subtitle %></em>

      <p><%= @portofolioos_items.body %></p>

      <hr>

      <h3>Technologies Used:</h3>

      <% @portofolioos_items.technologies.each do |t| %>
      <p><%= t.name %></p>
      <% end %>
      <% if logged_in?(:site_admin) %>
        <div class="">
          <%= link_to "Edit Item", edit_portofolioo_path(@portofolioos_items), class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>