<%= image_tag @portofolioos_items.main_image %>

<h1><%= @portofolioos_items.title %></h1>

<em><%= @portofolioos_items.subtitle %></em>
<p><%= @portofolioos_items.body %></p>

<h2>Technologies used</h2>

<% @portofolioos_items.technologies.each do |t| %>
<p><%= t.name %></p>

<% end %>